@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mulish:wght@300;400&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-image: url(../Images/E1.jpg);
}
.login-form img {
  width: 128px;
  height: 128px;
}

.login-area{
    display: grid;
    place-items: center;
    height: 100vh;
}
.login-form {
  width: 384px;
  max-width: 384px;
  padding: 32px;
  text-align: center;
  box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%),
    0 6px 30px 5px rgb(0 0 0 / 12%);
  border-radius: 20px;
  z-index: 1000;
  background-color: #ffffff;
}
