@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mulish:wght@300;400&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url(../Images/E1.jpg);
  background-size: cover;
}
.login-form img {
  width: 128px;
  height: 128px;
}

.login-area {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login-form {
  width: 384px;
  max-width: 384px;
  padding: 32px;
  text-align: center;
  box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%),
    0 6px 30px 5px rgb(0 0 0 / 12%);
  border-radius: 20px;
  z-index: 1000;
  background-color: #ffffff;
}
#login-text {
  font-size: 22px;
  margin: 16px 0 32px;
}
#web-version {
  font-size: 13px;
  color: #000000de;
}
.login-form a {
  text-decoration: none;
  font-size: 16px;
  color: #039be5;
}
.login-form a:hover {
  text-decoration: underline;
}
.login-form button {
  width: 220px;
  margin: 16px auto;
  display: block;
  background-color: #039be5;
  outline: none;
  border: none;
  color: white;
  padding: 8px 0px;
  font-size: 16px;
  cursor: pointer;
}
.login-form input {
  width: 310px;
  height: 58px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 40px;
  outline: none;
  border: 1px solid lightgray;
}
.input-area{
    position: relative;
}
#eye{
    position: absolute;
    left: 280px;
    top: 93px;
    color: #000000de;
}
#user{
    position: absolute;
    left: 280px;
    top: 20px;
    color: #000000de;
}